{{!-- modal --}}
{{!-- login --}}
<div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="ModalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLoginLabel">Login with</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form>
        <span id="login_alert" class="d-none text-danger">Your username or password was incorrect</span>
        <div class="mb-3">
          <label for="login_userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="login_userName" name="login_userName" aria-describedby="emailHelp" placeholder="User name">
        </div>
        <div class="mb-3">
          <label for="login_pass" class="form-label">Password</label>
          <input type="password" class="form-control" id="login_pass" name="login_pass" placeholder="Password">
        </div>
        <div class="text-center w-100">
          <button type="button" class="btn btn-primary w-50" id="btn_login">Login</button>
        </div>
      </form>
      <hr>
      <div class="text-center">
        <span>Looking to <a href="/regis">Create A New Account?</a></span><br>
        <a href="#">Forgot Your Password?</a>
      </div>
      </div>
    </div>
  </div>
</div>
{{!-- regis --}}
<div class="modal fade" id="ModalRegis" tabindex="-1" aria-labelledby="ModalRegisLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalRegisLabel">Register with</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="w-100 mb-3 text-center">
          <button type="button" class="btn btn-primary w-75" data-bs-toggle="modal" data-bs-target="#ModalLogin" data-bs-dismiss="modal" aria-label="Close">Already a member</button>
        </div>
        <div class="w-100 mb-3 text-center">
          <a href="/regis" class=" text-decoration-none"><button type="button" class="btn btn-primary w-75">New User Registration</button></a>
        </div>
        <hr>
        <div class="w-100 text-center">
          <span>Already a Member? <a href="#" class="d-inline-block text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalLogin" data-bs-dismiss="modal" aria-label="Close">Login</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- header --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand d-inline-block" href="/"><img src="images/logoetp.png" height="40" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#ModalLogin">Login</button>
        <button type="button" class="btn btn-light ms-1" data-bs-toggle="modal" data-bs-target="#ModalRegis">Regis</button>
      </div>
    </div>
  </div>
</nav>