<section class="container">
    <h1 class="text-center">Register with</h1>
    <form id="form_regis" class="border rounded p-3 ms-auto me-auto" style="max-width: 576px;">
        <div class="w-100 text-center">
            <img src="images/logoetp.png" width="100" alt="">
        </div>
        <div class="mb-3">
            <label for="regis_userName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="regis_userName" name="regis_userName" placeholder="User name">
        </div>
        <div class="mb-3">
            <label for="regis_email" class="form-label">Email</label>
            <input type="text" class="form-control" id="regis_email" name="regis_email" placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="regis_pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="regis_pass" name="regis_pass" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="regis_CFpass" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="regis_CFpass" name="regis_CFpass" placeholder="Confirm Password">
        </div>
        <div class="mb-3">
            <label for="regis_FName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="regis_FName" name="regis_FName" placeholder="First Name">
        </div>
        <div class="mb-3">
            <label for="regis_LName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="regis_LName" name="regis_LName" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <label for="regis_job" class="form-label">Job Title</label>
            <input type="text" class="form-control" id="regis_job" name="regis_job" placeholder="Job Title">
        </div>
        <div class="mb-3">
            <label for="regis_comp" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="regis_comp" name="regis_comp" placeholder="Company Name">
        </div>
        <div class="mb-3">
            <label for="regis_country" class="form-label">Country</label>
            <input type="text" class="form-control" id="regis_country" name="regis_country" placeholder="Country">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Submiting the register button I am agreeing with sites <a href="#">Terms & Conditions</a>
            </label>
        </div>
        <button type="button" id="btn_form_regis" class="btn btn-primary">regis</button>
    </form>
</section>